*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
      background: linear-gradient(180deg, #2b0f58 0%, #123491 100%);
      min-height: 100vh;
}

.main-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

}

.titel-info{
    margin-top: 12rem;
    text-align: center;
    color:white;
    margin-bottom: 2.5rem;
}

.add-task{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#task{
    display: block;
    padding: 10px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 8px 32px 0 rgba(8, 56, 187, 0.4), 0 0 15px 0 rgba(0, 241, 254, 0.5);
}

.button-div{
    width:120px
}

.add-button{
    width:100%;
    padding:10px;
    font-size: 12px;
    border-radius: 20px;
    background-color:#6636ec;
    border: none;
    color:white;
    margin-bottom: 1.5rem;
}

.display-task{
    display: flex;
    flex-direction: column;
    width:200px;
    gap:12px;
}
.display-div{
    background-color: white;
    padding:10px;
    width:100%;
    font-size: 15px;
    border-radius: 15px;
    display: none;
}